.about-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 5rem 0;
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: space-around;
}

.right-section img{
  border: 2px solid #dadada;
}