.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  position: relative;
}

.project:hover img {
  filter: grayscale(1);
}

.project:hover .project-name {
  opacity: 1;
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.project:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.filter-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}

.filter-bar {
  display: flex;
  background-color: #bcb3b4;
  padding: 5px 10%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  --filter-bar-width: 100%;
}

.filter-bar button {
  background-color: transparent;
  border: none;
  padding: 8px 8px;
  margin-right: 10px;
  color: aliceblue;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: black;
  font-weight: bold;
  white-space: nowrap;
}

.filter-bar button:hover, button:focus {
  color: #ffdd3a;
  outline: none;
}